<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625742141123-ujl8ksausepjim7fon5sbldieammgl19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625742141123-ujl8ksausepjim7fon5sbldieammgl19</string>
	<key>API_KEY</key>
	<string>AIzaSyDern1duhOUx2COUAmGGCnla4cbiF2NZ9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>625742141123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamisho0528.express</string>
	<key>PROJECT_ID</key>
	<string>express-17556</string>
	<key>STORAGE_BUCKET</key>
	<string>express-17556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625742141123:ios:c0f78f55c5cc24e2</string>
	<key>DATABASE_URL</key>
	<string>https://express-17556.firebaseio.com</string>
</dict>
</plist>